@import "tailwindcss";

.btn {
  /* background: linear-gradient(to bottom, #c0c1c2 0%, #4c4b4d 50%, #6c6c6f 100%); */
  background: linear-gradient(to bottom, #c0c1c2, #4c4b4d, #c0c1c2);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3),
              0 4px 6px rgba(0, 0, 0, 0.4);
}

.red-btn {
  background: linear-gradient(to bottom, #dc725f, #bb2421, #dc725f);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3),
              0 4px 6px rgba(0, 0, 0, 0.4);
}

.blue-btn {
  background: linear-gradient(to bottom, #c9e2ff, #0077ff, #c9e2ff);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3),
              0 4px 6px rgba(0, 0, 0, 0.4);
}

.white-btn {
  background: linear-gradient(to bottom, #ffffff, #9ea0a1, #ffffff);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3),
              0 4px 6px rgba(0, 0, 0, 0.4);
}